.page-login {
  width     : 100%;
  min-height: 100vh;
}

.page-login .login-container {
  padding        : 3rem 0;
  max-width      : 30rem;
  min-height     : 100vh;
  margin         : auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  fill           : var(--main-color-light-blue);

}

.page-login h2 {
  font-size    : 2.5rem;
  font-weight  : bold;
  margin-bottom: 2rem;
}